/.claude/*
__pycache__/
*.pyc
/CLAUDE.md
/node_modules/
/package-lock.json
/build/
/dist/
/ideas/
/plans/logs/
/settings/yt_settings.json
/lesson_tools/.last_folder
/lesson_tools/.last_vis_data.js
/lesson_tools/.last_project.js